* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}

body {
    color: white;
    background: #333333;
}

:root {
    --cursive-font: 'Dancing Script', cursive;
    --board-background: #a27dbb;
    --dark-lavendar: #412a4e;
}

h1 {
    font-size: clamp(2rem, 5vw, 3rem);
}

header {
    padding: 2em 2em 1em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-info {
    font-size: clamp(0.8rem, 2.5vw, 2rem);
    padding-bottom: 1em;
    text-align: center;
}

section {
    width: calc(45vw - 20px);
    height: calc(45vw - 20px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

section > div {
    display: flex;
    font-size: clamp(0.8rem, 8vw, 8rem);
    font-weight: 700;
    justify-content: center;
    align-items: center;
    background: var(--board-background);    
    border: 2px solid black;
    height: 33.4%;
    flex: 0 0 33.3%;
}

#restart {
    font-size: clamp(0.8rem, 3.5vw, 2rem);
    font-weight: 700;
    color: var(--board-background);
    display: block;
    margin: 0 auto;
    padding: 0.8em 1.6em;
    margin-top: 2em;
    border-radius: 8px;
    border: 4px solid var(--board-background);
    background: var(--dark-lavendar);
}
